.dayHeaderContainer{
    display: flex;
    gap: 10px;
}

.dateContainer{
    max-width: 256px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid pink;
}

.monthContainer{
    max-width: 256px;
    width: 100%;
}

.yearContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.activeDate{
    background-color: red;
}